<h1>Editing subscriptionplan</h1>

<%= render "form", subscriptionplan: @subscriptionplan %>

<br>

<div>
  <%= link_to "Show this subscriptionplan", @subscriptionplan %> |
  <%= link_to "Back to subscriptionplans", subscriptionplans_path %>
</div>
